.App{
  background-color: rgb(24, 22, 22);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  margin:auto;
}

.header{
  background: radial-gradient(circle, rgba(125,124,125,0.9023984593837535) 0%, rgba(12,12,13,1) 100%);
  height:80px;
  width:100%;
  position: fixed;
  top:0;
  z-index:2;
}
.side-by-side{

  display: grid;
  grid-template-columns: 20% 80%;
}
.panel{
  background-color: rgb(54, 52, 52);
  height:1000vh;
}

.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.title{
  position: absolute;
  left:100px;
  color:white;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.search{
  
}
.search input{
 
  padding:20px;
  position:relative;
  width:200%;
  border-radius:10px;
  top:10px;
  left:200px;

}
.search i{
  position: absolute;
  bottom:20px;
 right:130px;
 top:25px;
 font-size: 25px;
 color:gray;
}
.panel-div{
  /* position: absolute; */
  top:100px;
  
  position:relative;
  
 
  
}
.panel-list{
  display:flex;
  
  
  
}
.panel-list .category-div{
  margin-top:200px;
  /* position: fixed; */
 
  
  
}

 .category-div{
  position:fixed;
 }
 .category{
 
  
 }
 .category-inner{
  overflow-y: scroll;
  position: absolute;
  height: 280%;
  left:20px;
  top:80px;

 }
.category-btn{
  width:100%;
 

}
.category-div h6{
  color:white;
  margin-left:20px;
  font-size:18px;
 
}
.category-btn button{
  width:100%;
  background-color: rgb(68, 67, 67);
  /* background: radial-gradient(circle, rgba(125,124,125,0.9023984593837535) 50%, rgba(12,12,13,1) 80%); */
  color:white;
  padding:10px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}
.panel-card {
  position: fixed; 
  margin-left:-20px; 
 
}
.panel-card ul li{
  display: flex;
  
  
  padding:15px;
  font-size:15px;
  color:white;
  text-align: center;
 
  
}
.panel-card ul li i{
  margin-right:5px;
}
.panel-card-div{
  display:flex;
  flex-direction: column;
  background: radial-gradient(circle, rgba(18,16,16,0.74) 0%, rgba(74,74,77,1) 100%);
 
 
 
}
.panel-card-div span{
    color:rgb(236, 107, 21);
    font-size:18px;
    background-color: white;
    padding:0px 4px;
}
.panel-card-div button{
  background-color:rgb(77, 75, 75) ;
  color:white;
  font-size:14px;
  border:none;
  font-weight:800;
  border:1px solid white;
  cursor:pointer;
  width:100%;
  
}

.book{
  position: absolute;
  left:300px;
  top:200px;
  
  
  /* min-height:100vh;display:flex;
 justify-content:flex-end;
 align-items:center;
 align-content: flex-end; */

  
 
  
}
.book-div{
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  
  
 
 

 
}
.cards-div{
  display: flex;
  flex-wrap: wrap;
  
  
  
 
}
.cards-inner{
 
  background-color: brown;
  display: flex;
  flex-direction: column;
 
  border:5px solid black;
  margin-bottom:25px;
 
   width:200px; 
  height:300px; 
  text-align: center;
  color:white;
  /* margin-right:10px; */
  padding:20px;
  position: relative;
  line-height: 13.5px;
  
 

}

.cards-inner-flex{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom:-15px;
  
 
 
 
 

  
}
.cards-inner p{
  font-size: 13px;
}
.img-div img{
  width:100px;
  height:130px;
}




.carousel{
  background-color: white;
   width:200px;
  height:400px; 
  
  margin-left:150px;
  
}
.cards-inner1 img{
  width:100%
 
}
.cards-inner1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  border:5px solid white;
  
}
.carousel-inner{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.back{
  position: absolute;
  right:400px;
  top:200px;
}
.next{
  position: absolute;
  left:800px;
  top:200px;
}
.add-remove{
 
  padding:5px;
  color:white;
  font-weight:800;
  position: absolute;
  top:-50px
 
 
 
 
}
.remove{
 
 width:200px;
  background-color: rgb(228, 14, 14);
  
 
}
.add{
  width:200px;
  background-color: rgb(51, 116, 22);
  
}
.fa-star{
  font-size: 20px;
  
}
.fa-star-o{
  font-size:20px;
  
  
}
.favorite{
  
}
.modal{
  min-height: 50vh;
    width: 50%;
    position: fixed;
    left: 350px;
    top: 100px;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.modal-inner{
  overflow-y: scroll;
  background: white;
  width: 700px;
  height: 450px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
  font-size: 1.3rem;
}
.modal-inner .close{
  position: fixed;
  /* top:1rem;
  right: 1rem; */
  right:23rem;
  outline: none;
  border: none;
  font-size: 25px;
  background-color: transparent;
  z-index:2
}

.modal-inner .modal-inner-div{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.modal-inner .modal-inner-div img{
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.modal-inner .modal-inner-div h3{
  margin-top: 10px;
  color: green;
}
.modal-inner .modal-inner-div h4{
  color: blue;
}
.modal-inner .modal-inner-div button{
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.modal-inner .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}
.listadd-div-inner {
  display: flex;
  flex-direction: column;
  width:60%;
  background-color: rgb(250, 250, 250);
  padding:0px;
  position:relative;
  left:250px;
  top:70px;

  /* display: flex;
  flex-direction: column; */
 
  
}
.header1{
  
  width:100%;
  background-color: black;
  padding:50px;
}
.header1 button{
  background-color: white;
  z-index:2
}
.listadd{
  display: flex;
  
  align-items: center;
  align-content: center;
  justify-content: space-around;
  
  padding:10px;
  border:1px solid black;
}
.listadd img{
  width:5%;
  margin-left:-600px
  
 
}
.listadd h6{
  position: absolute;
  right:100;
  

}
.welcome{
  width:35vw;
  height:45vh;
  background-color: rgb(248, 245, 245);
  position:absolute;
  z-index:2;
  left:500px;
  top:200px;
  border-radius:5px;
  box-shadow: rgba(160, 157, 157, 0.35) 0px 5px 15px;
}





.fa-trash{
  font-size: 20px;
  position: absolute;
  right:70px
}
.home-btn{
  padding:10px;
  background-color: black;
  color:black;
  font-weight: 800;
  position: absolute;
  top:30px;
}

.cards-inner1 div{
  padding: 0px;
  text-align: center;
  
}
.cards-inner1{
 


}
@media (max-width: 750px) {
  .header {
    
  }
  .side-by-side{

    display: grid;
    grid-template-columns: 30% 80%;
  }
  .category-btn{
    width:70%;
   
  
  }
  .category-div h6{
   
    font-size:12px;
   
  }
  .category-div button{
    font-size:11px;
  }
  .search input{
 
    padding:10px;
   
    width:100%;
    
    top:10px;
    left:100px;
  
  }
  .search i{
   
    bottom:30px;
   right:25px;
   top:18px;
   font-size: 15px;
   
  }
  .panel-card {
    position: fixed; 
    margin-left:-36px; 
   
  }
  .panel-card ul li{
    display: flex;
    
    
    padding:4px;
    font-size:10px;
   
   
    
  }
  .panel-card-div button{
   
    font-size:12px;
   
    font-weight:500;
    
    width:100%;
    
  }
  .panel-card-div span{
    
    font-size:12px;
   
    padding:0px 4px;
}
.panel-list .category-div{
  margin-top:100px;
 
  
}
.title{
  
 
  font-size:18px;
  

}
.cards-inner{
  margin-left:-20px;
}




}
